.content
  h3 The joke here is that Gastly is made of ghost and smoke. Also, you are terrible.
  p This is a picture of Gastly:
  p
    img(src='http://i.imgur.com/Kz4ka.jpg')
  p This is a picture of Gastly crying:
  p
    img(src='http://i.imgur.com/fxEyx.jpg')
  p You monster.
