.content-image
  img(src='/images/pillar.jpeg', width='100%')
.content
  p(align='center')
    a.image(target='_blank', href='http://bearskinrug.co.uk')
      img(title='Bearskinrug', src='/images/monsters_watching-small.png', alt='monsters_watching', width='27%')
    a.image(target='_blank', href='http://everythingisfantastic.com')
      img(title='Jackson', nieuwland='', src='/images/everything-is-fantastic.jpg', alt='jackson-nieuwland', width='29.5%')
    a.image(target='_blank', href='http://chroniclesofmarla.com')
      img(title='Marla', src='/images/marla-panel.png', width='34%', alt='marla')
  p(align='center')
    a.image(target='_blank', href='http://banangolit.com')
      img(title='Banango', lit='', src='/images/banangolit.png', alt='banangocart', width='34%')
    a.image(target='_blank', href='http://livemylief.com')
      img(title='Live', my='', lief='', src='/images/livemylief.jpg', alt='livemylief', width='42.5%')
    a.image(target='_blank', href='http://spencermadsen.tumblr.com')
      img(title='Spencer', madsen='', src='/images/spencer-madsen.png', alt='spencermadsen', width='89', height='142')
  p(align='center')
    a.image(target='_blank', href='http://dreamersoften.blogspot.com')
      img(title='Dreamers', often='', lie='', src='/images/dreamersoften.png', alt='dreamers', width='28%')
    a.image(target='_blank', href='http://handlingdoom.tumblr.com')
      img(title='Handling', doom='', src='/images/ilovehandlingdoom.jpg', alt='ilovehandlingdoom', width='38%')
    a.image(target='_blank', href='http://neonglittery.com')
      img(title='Neon', glittery='', src='/images/FRANK.png', alt='FRANK', width='24%')
  p(align='center')
    a.image(target='_blank', href='http://lumalin.wordpress.com')
      img(title='Tristan', newcomb='', src='/images/oiplf.png', alt='sotcts', width='41%')
    a.image(target='_blank', href='http://poetrybyemilydickinson.com')
      img(title='Poetry', by='', emily='', dickinson='', src='/images/pbed.jpg', alt='pbed', width='50%')
  p(align='center')
    a.image(target='_blank', href='http://picturesforsadchildren.com/')
      img(title='John', campbell='', src='/images/pfsc.png', width='40%')
    a.image(target='_blank', href='http://streetcarstospaceships.typepad.com')
      img(title='Rustin', wright='', src='/images/rustin-wright.jpg', alt='rustin', h='', width='21.8%')
    a.image(target='_blank', href='http://oglaf.com/')
      img(title='Oglaf', (nsfw)='', src='/images/oglaf.png', width='29%')
  p(align='center')
    a.image(target='_blank', href='http://www.escapistmagazine.com/articles/view/comics/critical-miss')
      img(title='Critical', miss='', src='/images/critical-miss.png', width='30%')
    a.image(target='_blank', href='http://smallcomic.tumblr.com/')
      img(title='The', eternal='', tortoise='', src='/images/eternaltortoise.png', width='41%')
