.content
  h1 Describe the sound of a moist waffle falling onto a hot griddle.
  p
    | Searing pain as the dough strikes metal. Water glistens, wisps away. A soothing smell followed by a quick hand on a ready implement. A casual flip, ready to become a causal reality. The 
    a(ui-sref="extraPlaces({name:'write-her-a-thank-you-note'})") unopened syrup
    |  awaiting imminent vindication. Knowing that the only bad crackle is the one that is followed by 
    a(ui-sref="extraPlaces({name:'smoke'})") smoke
    | .