
p
  b I am not very prolific
p
  | In the past year I think
  br
  | I’ve written about a dozen words
  br
  | over and over and over
  br
  | again.
p I don’t know if I’m allowed to be happy.
p
  | Sometimes I wish I wrote
  br
  | faster and faster and faster
  br
  | so
p
  | Can I make up for how
  br
  | terrible I am?
br
p
  a(ui-sref="poetry.name({ series: 'i-am', number: '3' })") next »