.content
  h3 Please stop.
  p
    | You need help. I understand that. 
    a(href='http://www.apa.org/') I know people who can help you
    | . Please don't keep this going. You can literally do anything else. 
    a(href='http://largeroundeyes.blogspot.com/2010/04/crashing-waves.html') How about reading this
    | ? It's nice and cheerful and happy. Go ahead. Click it.
  p
    | ...You're not going to click it, are you? You're going to force me to inflict more of this on you, aren't you? Fine, have a double dose:
  p
    blockquote
      p
        | For something this sick and depraved to go down, you would have at least thought nighttime. Hell, make that a full moon with a chorus of howling wolves.
      p
        | “Can I help you, sir?” inquired the hostess, Tiffany, the one person who did manage to notice Torenzi if only because it was her job. She was a young and stunning blonde from the Midwest, with perfect porcelain skin, who could turn more heads than a chiropractor.
      p But it was as if she didn’t even exist.
      p
        | Torenzi didn’t stop, didn’t even glance her way when she spoke to him. He just waltzed right by her, cool as a cabana.
      p
        | Screw it, thought the busy hostess, letting him go. The restaurant was packed as always, and he certainly looked like he belonged. There were other customers arriving, getting in her face as only New Yorkers can. Surely this guy was meeting up with someone who was already seated.
      p She was right about that much.
  p
    | I'm 
    em begging
    |  you to walk away. 
    em
      a(href='go-away/im-down-on-my-knees') Begging
    | .
