.content
  h3 No, no, hell no, and no
  p What do you want? Is it more terrible writing? Ok, alright, here you go:
  p
    blockquote
      p
        | Table chatter, clanking silverware, the iconic jazz of John Coltrane filtering down from the recessed ceiling speakers—they all combined to fill the mahogany-paneled dining room of Lombardo’s with a continuous loop of the most pleasant sort of white noise.
      p Torenzi heard none of it.
      p
        | He’d been hired because of his discipline, his unyielding focus. In his mind there was only one other person in the busy restaurant. Just one.
      p Thirty feet…
      p
        | Torenzi had spotted the table in the far right corner. A special table, no doubt about that. For a very special customer.
      p Twenty feet…
      p
        | He cut sharply over to another aisle, the heels of his black wingtips clicking against the polished wood floor like a metronome in three-quarter time.
      p Ten feet…
      p
        | Torenzi leveled his stare on the bald and unabashedly overweight man seated alone with his back to the wall. The picture he’d been handed could stay tucked in his pocket. There was no need to double-check the image.
      p This was him, for sure. Vincent Marcozza.
      p The man who had less than a minute to live.
  p
    | That's it, I'm done. I don't have anything more, and I never 
    em want
    |  to have anything more. Click out of this site. Go away. Forever. I want nothing to do with you anymore.
  p
    b
      em
        a(href='go-away/ever') Ever
    | .
