.content
  h3 Alright, have some more.
  p Clearly you enjoy pain. Fine. I'll give you what you want:
  p
    blockquote
      p
        | Simply put, Lombardo’s Steakhouse was paparazzi heaven. From A-list actors to all-star pro athletes, CEOs to supermodels, rap stars to poet laureates—anyone who was anyone could be spotted at Lombardo’s, whether they were brokering deals or just looking and acting fabulous.
      p
        | Zagat, the ubiquitous red bible of dining guides, said it best: “Get ready to rub elbows and egos with the jet set, because Lombardo’s is definitely the place to see and be seen.”
      p Unless you were Bruno Torenzi, that is.
  p
    | Ready to quit? 
    a(href='go-away/its-like-a-meat-grinder-in-here') Let's see
    | .
