.content
  h3 Oh, hello. Now, goodbye.
  p
    | Well aren't you perceptive. And curious! Very curious. Very admirable. Still, you need to learn when poking your nose in places will lead to it being snipped off. You get me?
  p
    | I'll let this one slide, 
    a(href='go-away/only-fools-tread-here') just don't click this link
    | , alright? Let it go. Enjoy something else on the site. There's all sorts of content up there for you to peruse and enjoy. Have fun.
