.content
  h3 Stay far, far away from me
  p This is you:
  p
    img(src='images/cb-crazy.jpg', alt='')
  p This is me:
  p
    img(src='images/desert-running.jpg', alt='')
  p
    | There are two things notable about the picture of me. One is that I am running. The other is that I am very far away. 
    a(href='go-away/no') Don't follow me
    | .
