.content-image
  a.image(href='images/reviews/lifted-album-art.jpeg')
    img(src='images/reviews/lifted-album-art.jpeg', alt='', width='100%')
.content
  h1(style='margin-bottom:0;') Lifted, or The Story Is In The Soil, Keep Your Ear to the Ground
  h3(style='margin-top:0.5em;') by Bright Eyes
  p
    | 'Lifted' is many things: it’s the fourth album by band/Oberstian pseudonym Bright Eyes; it’s the first album where he showed off the folk-country affinity that would define his musical contributions to the decade; and it’s also the most self-deprecating album Oberst has ever written, a self-loathingly unforgiving portrayal of all the nasty idiosyncracies he sees in himself as an artist.
  p
    | He’s in turn paralyzingly obsessed with the finiteness of Earth and the universe (“Working on the record seems pointless now / when the world ends who’s going to hear it?”), crushed by his own mortal flaws (“Lover I Don’t Have to Love”), or when he finally does get around to moving past his existential despair (“All I know is that I feel better when I’m singing”) – his one apparent piece of solace in a world he doesn’t understand – he still isn’t free from the taint of artistic selfishness:  “But when crying don’t help and you can’t compose yourself / it is best to compose a poem / an honest verse of longing or simple song of hope / That is why I’m singing…” It’s all a lie, designed entirely to make himself feel better.
  p
    | Indeed, his statement on the album’s final track, “Let’s Not Shit Ourselves (To Love And Be Loved)”, that “No I don’t read the reviews / I am not singing for you,” is an ironically detached excoriation of the entitled, self-absorbed attitude such a statement indicates. “Ambition, I’ve found, can only lead to failure”, he sings in the same song. Literally one line earlier, in fact.
  p
    | According to Oberst, there’s nothing ambitious or noteworthy about his album; it’s a “record of our failures” as he puns in “Method Acting “. Either way he goes about it, whether he’s crushed by the incomprehensible and inexorably advancing “Big Picture” or spurred on entirely by self-gratification and self-love, he’s an ignorant and ineffectual lemming. Even though “the picture is far too big to look at” he still can’t cut himself some slack.
  p
    | Oberst – or whatever persona Oberst is affecting here, since it seems to change with every record – asks a question at the beginning of “The Big Picture”: “It seems like it, right? Don’t you think?” We don’t know why he’s asking the question, and his friends or bandmates or whoever is accompanying him don’t answer, instead focusing either on the hopeless task of stumbling through the city in the vain hope of finding wherever it is they’re supposed to go (
    em I wonder if this is a metaphor for something…
    | ), or on the singing, nihilistic Oberst that’s playing over the radio. “Shh, shh, I love this song,” the woman says, and then hums along with the tune.
  p
    | It’s Bright Eyes singing to Bright Eyes, and sans the soundscape framing device it’s a version of the song that only Bright Eyes would ever hear. Oberst’s question, his one attempt at breaking out of this solipsistic loop, at finding an opinion and a viewpoint outside of himself, is completely ignored.
