.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p
    b I am not going to change the world
  p my words won’t win
  p minds or hearts or souls
  p continue on in spite
  p of my best efforts to inspire
  p I offer only my condolences -
  br
  p
    a(href='/poetry/i-am-4') next »
