.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p
    b I am a sad college dropout
  p
    | One day I went on my computer and
    br
    | stopped everything.
  p After that it was only a matter of time
  p
    | and now I’m here
    br
    | doing this.
  p
    | I have no regrets
    br
    | except the ones I’m about to make
  br
  p
    a(href='/poetry/i-am-2') next »
