.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p 3.
  p
    | We walked along the sidewalk in the middle of the fall,
    br
    | our fingers sometimes locking together as they fleetingly brushed.
    br
    | Mostly they hid in the corners of our arms,
    br
    | trying to get (and then stay) warm.
  p
    | Which one of us wanted to walk?
    br
    | I don't remember, and I don't care.
    br
    | I was with you, and that made me glad,
    br
    | even though I totally caught a cold, and you know it.
  p
    | You pointed to a tree.
    br
    | I thought you were sad because of the dying leaves,
    br
    | but you pointed out a squirrel couple chasing each other around the branches,
    br
    | and you said that in a way that made you seem happy.
  p
    | Maybe it was silly of me to think I could tell you to do anything,
    br
    | but I was certain that,
    br
    | if you didn't kiss me right then,
    br
    | my heart would melt.
  br
  p
    a(href='/poetry/love-4') next »
