.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p 1.
  p
    | We fell in love over candlelight
    br
    | as nightingales, chirping softly through the open window,
    br
    | lounged lazily in the green veranda
    br
    | where young lovers shivered close in the almost-dark.
  p
    | "Come with me," you said.
    br
    | I was certain you wanted to follow the nightingales
    br
    | Ever so slightly, I resisted your hand pulling mine
    br
    | You took it as an invitation.
  p
    | I forget who paid the bill
    br
    | I remember I was the one who left the tip
    br
    | You didn't seem to care how much anything cost
    br
    | You kept staring into my eyes.
  br
  p
    a(href='/poetry/love-2') next »
