.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p 4.
  p
    | We rested beneath the willow tree,
    br
    | you and I,
    br
    | and I noticed the daisies in your hands.
    br
    | One by one, you would pick the petals:
    br
    | Pick. “He loves me.” Pick. “He loves me not.”
    br
    | Over and over again.
    br
    | Yeah, only an idiot would fail to
    br
    | see just what you meant.
  p
    | So as I sat absorbed in my journal,
    br
    | writing something beautiful and
    br
    | loaded with meaning that I could
    br
    | give to you at some later date,
    br
    | you suddenly stood up, the daisypetals flying everywhere, and you
    br
    | reached your hand out for me to 
    br
    | grab. I stared at you for a moment,
    br
    | confused, and so you yanked me 
    br
    | to my feet, the loose pages in my 
    br
    | journal flying everywhere, and it
    br
    | only took a moment for me to realize
    br
    | what it means to put yourself before
    br
    | others.
  p
    | I don't remember what happened next.
    br
    | All I remember is the look in your eyes
    br
    | as that moment stopped itself from 
    br
    | fading in mine
  p and you realized it too.
  br
  p
    a(href='/poetry/love-5') next »
