
p
  img(src='/images/colossus_champion-cover.png', alt='', title='', width='100%')
p 
  // em poetry collection, 2013
  | it is ok to fail. obsession with failure turns you into a bitter and shortsighted fool for whom any happiness is a harbinger of darkness to come
p so relax

p(style='padding-bottom:33px;') (yes i am trying to convince myself of this as well)

p 
  a(ui-sref="poetry.book.poem({ poem: 'not-yet-a-champion' })") read a poem
p
  a.gumroad-button(href='http://gum.co/dfhT') buy it
  script(type='text/javascript', src='https://gumroad.com/js/gumroad.js')
