.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p XII.
  p
    | Someday, 
    br
    | when I’m old, 
    br
    | I would want to gather all my grand children
    br
    | telling them the story of how
    br
    | I have fought 
    br
    | and won 
    br
    | the Battle of the Guadalupe Bridge.
  p
    | Well, it’s just really me 
    br
    | crossing that bridge without the fear 
    br
    | of looking down and hearing 
    br
    | the threatening sounds of busses and cars around me.
  p For once, I would like to be a superhero
  p
    | (
    a(href='http://diannefrancisco.tumblr.com/post/6542239862/vacation-with-a-twist') source
    | )
  br
  p
    a(href='/poetry/plagiarised-13') next »
