.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p XI.
  p
    | i wrote a poem last night.
    br
    | it is very long and has many pieces. 
    br
    | named St. Valentino- 
    br
    | a historical look at women's roles in society 
    br
    | from the perspective of a Designer. 
    br
    | it is pretti gud if i may say so myself. :)
  p (originally a Facebook comment)
  br
  p
    a(href='/poetry/plagiarised-12') next »
