.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p VII.
  p
    | I was born in my own home -
    br
    | Midwife -
    br
    | I was not born in a hospital
  p
    | It is spring
    br
    | I am in Chicago
    br
    | I live one block away from Wrigley Field
    br
    | It is opening day of the Cubs.
  p
    | (
    a(href='http://www.steveroggenbuck.com/2011/04/break-free-from-shackles-of-word.html') source
    | )
  br
  p
    a(href='/poetry/plagiarised-8') next »
