.content-image
  img(ng-src='images/lights/lights-{{random}}.png', width='100%')
.content
  p V.
  p
    | bent over and wrinkled
    br
    | the man explained
    br
    | he did not need a warranty
  p
    | he probably wouldnt
    br
    | live that long
  p
    | "He should have explained,"
    br
    | the manager said,
    br
    | "that the warranty was
    br
    | transferable.
    br
    | Doesn't he want
    br
    | the person who gets
    br
    | the stereo after his death
    br
    | to have the complete
    br
    | peace of mind
    br
    | that a 'Performance Guarantee'
    br
    | delivers?"
  br
  p
    | so i know about retail
    br
    | and whos calling the shots
    br
    | but i cannot imagine
    br
    | how shitty id feel
    br
    | to be forced to do something like that
  p its a special kind of evil
  p
    | (
    a(href='http://www.penny-arcade.com/2007/11/7/follow-up/') source
    | )
  br
  p
    a(href='/poetry/plagiarised-6') next »
