.content-image
  a.image(href='images/reviews/Fairfaxe-Cover.jpg')
    img(src='images/reviews/Fairfaxe-Cover.jpg', alt='', title="Look at those lil' bewildered ears of his...", width='100%')
.content
  h1(style='margin-bottom:0;') Fairfaxe
  h3(style='margin-top:0.5em;') by Tristan Newcomb
  p
    | 'Fairfaxe' is being marketed as "the first fantasy novel for bitter intellectuals, obsessive-compulsives, and genuinely justified misanthropes", and I'm inclined to take the marketing at its word; I have yet to see a fantasy work that was anything other than escapist mind-grabbing or violence fetishism. Wait, I take that back; "Till We Have Faces" was about a bitter, intellectually-minded, obsessive and semi-justified misanthrope. Though since she wasn't genuinely justified (at least according to CS Lewis; your mileage may vary) I suppose the tagline still rings true.
  p
    | (Coincidentally, here is Tristan Newcomb's description of his production company, Lumalin, culled straight from the most notable of sources, Twitter: "Full-length feature films for irritated elitists who detest the moronification of cinema structure.")
  p
    | I bring all this up not just to pseudo-mock what is clearly mostly-empty marketing speak in a desperate attempt to look at least semi-objective - 
    a(href='http://twitter.com/#!/zackschuster/status/67492052182642688') something I might not be
    |  - but to underscore just how 
    em odd
    |  this book is. I don't mean in a surrealistic or otherwise bizarre way (though if you have 
    a(href='http://www.completelyfictional.com/reviews/oiplf-by-tristan-newcomb') any
    a(href='http://www.completelyfictional.com/reviews/sotcts-by-tristan-newcomb') experience
    |  with Newcomb you've come to accept and maybe even expect bizarre surrealism); 'Fairfaxe' is just odd. I mean, just by its premise - it's a 
    em high fantasy character study
    |  - it's something that 
    em shouldn't exist
    | . It's an oxymoron. It's a paradox. It'd be like someone filming a left-leaning political satire and having the main character be a former member of the military. And the film is called, like, 
    a(href='http://en.wikipedia.org/wiki/Shooter_%28film%29') Shooter
    | . Or 
    a(href='http://en.wikipedia.org/wiki/Shoot_%27Em_Up') Shoot 'Em Up
    | . But I digress.
  p(align='center')
    img.caption(src='images/shooter+shoot-em-up.jpg')
    br
    | Pictured: two reasonable comparisons to a fantasy novel
  p
    | The protagonist is Fairfaxe, a middle-aged, anthropomorphized philosopher-dog on a quest to find a group of beings who...simply defy easy categorization. I never really thought I would be able to credibly describe something in a fantasy work as too strange - fantasy being a genre that brought us talking trees, quidditch and George R.R. Martin - but there you go.
  p
    | Because it's essentially a character study - and also because it's a 
    em good
    |  character study - characters aren't cut from archetypical wool. Fairfaxe is a neurotic mess, the kind of character that most fantasy archetypes would end up as after some of their adventures if they had any real psychological depth. He's an old, frightened intellectual with a childlike thirst for adventure that somehow keeps pushing him on. Several times he gets himself into terrible predicaments - or what he just 
    em thinks
    |  are terrible predicaments - because he overthinks the situation. He's prone to long, dialectical introspections that are well-thought out, but ultimately meaningless.
  p
    | Oh, and the meaninglessness. This book is also a dark comedy; it's as absurdist as Tristan Newcomb gets (protip: he can get 
    em very
    |  absurdist). It works. For instance, there's a scene where Fairfaxe attempts to straighten a gravestone in a hillside cemetary that has an unfortunate outcome, but Fairfaxe's reaction lends the situation a sad humor and an emotional weight it otherwise wouldn't have.
  p
    | 'Fairfaxe' is not as believable as it should be (you could say that about fantasy as a whole, perhaps), in part because it's a novel about a guy who can't convince himself to do anything, yet does things anyway. I had a bit of trouble, for instance, swallowing that he would even embark on his quest. The fantasy elements, meanwhile, can come across just as window-dressing, and though all fantasy indulges in that to an extent, it's particularly noticeable here because it's less about aiding the escapism and more about having a cool story hook. And finally, a good chunk of the novel is largely plot irrelevant and mostly padding - 
    em yes I'm well aware I keep making genre criticisms
    |  - and really only serves to inform Fairfaxe's physical and emotional state by the book's conclusion.
  p
    | Overall, though, this is a thoughtful and well-written piece of literature that, though not on the level of a classic, is fun, engaging, and well worth your time.
