.content-image
  a.image(href='images/oiplf-poster.png')
    img(src='images/oiplf-poster.png', alt='Sadly, the true hero of the story, Piggington, did not get his proper billing.', title='Piggington is my spirit animal.', width='100%')
.content
  h1(style='margin-bottom:0;') Only Interstellar Pinball Lives Forever
  h3(style='margin-top:0.5em;') by Tristan Newcomb
  p
    | 'Only Interstellar Pinball Lives Forever' is a 70-minute film about a puppet doing drugs to achieve transcendence. Ostensibly, I guess. Really, it's more "about" confronting your own mortality and learning to accept your place in the universe, though that's largely a guess based on a shot of a stuffed hippo with pins stuck into his head sitting and facing a "dot" on a map of the universe representing the Milky Way.
  p I'll let that sentence sink in for a moment.
  p
    | The film, even from the start, is surreal like that - it opens with a puppet (credited as "boy", but also Dobo, a recurring character in several of Newcomb's short videos) praying to God about his dead pets who he's buried, enshrined and booby-trapped in case they turn into zombies. Apparently he's had ten different pets die on him and he's pissed at God for letting it happen. Importantly, the reasons are unexplained, just that all the deaths occurred while "mom was away for the summer, relaxing on the beach" (paraphrase).
  p(align='center')
    a.image(href='images/oiplf-morose.jpg')
      img.caption(src='images/oiplf-morose.jpg', alt='', title="I feel like this was a scene in 'Mulholland Drive' or something.", width='80%')
    br
    | Get used to seeing the protagonist look morosely into the distance.
  p
    | The prayer loses focus partway through, devolving into a declaration that Dobo no longer believes in God and is going to make himself immortal by creating the "conscious molecule"...when he's older, of course, and has "money of [his] own and can do science". The film cuts to 22 years later, and the first image we see of the adult Dobo (played by Newcomb) is of him playing computer pinball. He makes two pinballs collide. There's a moment of realization as he remembers his (repressed?) childhood oath. Dobo reappears shortly thereafter, and then the film turns into a caffeine, alcohol, pill and nyquil-fueled drug trip as Dobo tries to create first his conscious molecule before (once again) letting his focus slip as he turns his efforts to creating a living pinball (drug use, along with video games and abusive parents, are recurring themes in Newcomb's other videos involving Dobo).
  p(align='center')
    a.image(href='images/oiplf-lp.png')
      img.caption(src='images/oiplf-lp.png', alt='', title="IT'S ALIVE", width='80%')
    br
    | Now come on, who *wouldn't* want to be in one of these? Wheeee
  p
    | I'm sure a lot of people will balk at a puppet protagonist (and a child analogue) saying things like "How do I kill you, God?" and engaging in copious drug use, possibly because of the association with child-aimed puppet shows like The Muppets. Newcomb is a Muppets fan himself; he references Jim Henson at the end of his last and he even has a picture of Kermit the Frog on his Facebook page. Perhaps he chose a puppet for a protagonist not just to avoid the obvious issues with shooting a real child in this situation but also because of the corollary to the Muppets. I wouldn't put it past a man who has his puppet threaten to commit suicide to have chosen a form specifically so it would sully childhood memories. I mean, the trailer for a different feature-length puppet film of his (Sword of Digestive Calmness) gleefully admits that it contains "irreversible blasphemy".
  p
    | None of the gratuity in OIPLF is really contrived, though. The main character is clearly extremely emotionally troubled, to the point where he has a nervous breakdown and an extended dissociative episode, lasting over a week. If you had a nervous breakdown, would you be morally opposed to slamming back some Red Wine and Nyquil? I'd doubt it. On the spectrum of "poor choices made in a depressed state," it's probably on the lower end.
  p(align='center')
    a.image(href='images/oiplf-drugs.jpg')
      img.caption(src='images/oiplf-drugs.jpg', title='I think this would kill me', alt='', width='80%')
    br
    | Pictured: not that bad of a decision?
  p
    | Let me describe a specific part in the film's third act that was both profoundly affecting to me and extremely telling of the film's technical depth and quality. Dobo realizes he can't make the conscious pinball, and so in an effort to influence scientists to create the conscious pinball for him he attempts to construct a pinball narrative. As part of this narrative he introduces a pig figurine - dubbed Pigginton - and the camera switches perspective between a pinball and Piggington as the two talk about various things. The editing in this part is fantastic. Not only do you never see the camera in the pinball's reflection (a surefire mark of a pro), but you could also always see Dobo's reflection whenever the pinball was "talking". Dobo would actually move around, too, like he was involved in the scene and not just a prop. It's a subtle detail that goes a long way towards reinforcing that, yes, this is all just Dobo projecting himself.
  p
    | What's more, Dobo touted the story as this epic, inspiring tale, when in reality it turned into Piggington and the pinball being manipulated entirely by outside forces (the "banana" flippers, the acknowledged yet unknown God-like creator of the game board) before finally degrading into a non-narrative allegory for the situations in his life (he even forgets a very key part of the initial narrative).
  p
    | The ending is reasonably happy. The man satisfies his unrealized childhood desires, seems content with the knowledge that he'll die, and Dobo recedes back into his subconscious. The ending shots are of him just walking around, searching for an ultimate purpose. He walks by one of those commercial churches, complete with "Faith, Hope, Charity" blaring on the side in bright neon letters. Then the next day he walks around on a track, first in the "right" direction and then in the "wrong" one. He's still looking for his own way, I guess.
  p(align='center')
    a.image(href='images/oiplf-graveyard.png')
      img.caption(src='images/oiplf-graveyard.png', alt='', title='You know, like normal people do', width='80%')
    br
    | This includes taking a nice, casual stroll through a graveyard.
  p
    | The film has its flaws. The opening dialogue is a bit too advanced for a child to believably say. You could reason that it's because these memories were repressed (which the film kinda sorta hints at) and thus are influenced by the man's matured outlook, but that's still a bit of a reach that requires a bit more "reading in" then I'm comfortable advocating. The minimalist techno soundtrack, composed by Newcomb and Tsuyushi Oyama, is mostly stellar, though in several spots it came off as a bit too goofy for my liking. The camera work (which is all fixed; Newcomb apparently shot the film entirely by himself) is also excellent, even if a few scenes - such as the man walking around street corners, or the shots of the pinball traveling - are either of questionable legitimacy or dubious length. And even though none of it is gratuitous, the extensive drug use will still offend a lot of people.
  p
    | As a whole, though, the concept is solid and the execution is top-notch. If you're still on the fence after reading this then the best thing I can say about this film is that I was mesmerized by a pinball traveling along a track. That's damn good filmmaking.
