
p III.
p
  | Freezing today.
  br
p
  | It’s spring, but cold rain cold rain cold rain be here.
  br
  | I kinda feel like a bear just starting to wake up.
  br
  | Not that
  br
  | I want to kill anything
  br
  | more that I’m remembering what it’s like to get back
  br
  | into the swing
  br
  | of writing songs.
p
  | This life o’ artistoid runs in cycles
  br
  | and I’m in the uncozy confines of emotional/brain toil
  br
  | trying to figure out what I feel and how to say it and what I see and how to speak it
  br
  | blah blah blah.
p
  a(href='http://web.archive.org/web/20100527041336/http://www.rachaelyamagata.com/news/2010/05/12/a-new-blog-from-rachael') (source)
br
p
  a(ui-sref="poetry.name({ series: 'plagiarised', number: '4' })") next »
