
p IV.
p
p
  | My father-in-law is incredibly allergic to fresh peaches,
  br
  | any stone fruit really,
  br
  | but peaches were especially common
  br
  | and were always there to eat.
  br
  | He would be with people who were eating them,
  br
  | and he assumed that everyone else felt the same terrible constriction of the throat,
  br
  | the same anxiety and discomfort.
  br
  | They all appeared to be smiling,
  br
  | and biting in he would smile also,
  br
  | wondering in secret what the all-fired attraction to these toxic bulbs was even about.
p
p
  a(href='http://www.penny-arcade.com/2011/3/14/') (source)
br
p
  a(ui-sref="poetry.name({ series: 'plagiarised', number: '5' })") next »
