
p IX.
p
  | I worked some on a lamp using Fix-All
  br
  | impregnated w/some universal colors.
p
  | It rained on Sunday.
  br
  | Today is much nicer, but somewhat chilly.
p
  | Existence, life or Being
  br
  | is the unmanifested
  br
  | reality of all that exists,
  br
  | lives,
  br
  | or is.
p
  | (sources: 
  a(href='http://twitter.com/#!/DAVID_LYNCH/status/32150695729696768') [1]
  | , 
  a(href='http://twitter.com/#!/DAVID_LYNCH/status/20241047275') [2]
  | )
br
p
  a(ui-sref="poetry.name({ series: 'plagiarised', number: '10' })") next »
