
.content-image
  img(src='images/essays/hangover-part-ii.jpg' width='100%')

.content
  h2 Taste and subjectivity, as framed by 'The Hangover: Part II'
  p
    | You guys remember 'The Hangover: Part II'? I kinda do. You wanna know something? I kinda liked it. I understand that's not a popular opinion. Though, really, I could care less. People heap too much hatred on 
    em Stargate
    |  - one of my Top 5 Favorite Films of All Time - and I don't get bothered. I get batty, actually. I bat people. With words.
  p
    | So yes, I am bothered, but not because I liked a film that is permanently at rest in Excoriation Junction; the problem is that I can't defend my response. In fact, I can come up with too many reasons why I shouldn't like it: it was formulaic to a fault, mostly because it's painfully obvious that the film was conceived as a simple cash-grab; it did terrible things to perfectly good characters in the pursuit of a couple mediocre jokes; and way too much of the humor - such as it is - was awkward and squicky shock bait.
  p And yet I had fun.
  p
    | These are all good reasons for hating the film, and I understand why so many people have flung prosaic tomatoes at it. All I can say is that I was ready to agree with them. I went into this movie hating it, looking for reasons to hate it, then getting sucked in and spit out with an unhappy grin on my face. I know, deep down, that it was a bad movie saved by good (great?) acting. I know that it played the homophobia and racism card to appeal to the lowest common denominator, then hid the ugly behind a facade of unsympathetic characters to retain respectability. I know that for all the arguments that can be made for the good things in the film, there's still an avalanche of suck that crushes any merit.
  p
    | None of it mattered to me. I still enjoyed it. I'd watch it again if a friend asked (I would hide my willingness behind a facade of "I want to try and figure out why I enjoyed it, duh").
  p
    | This goes back to taste and subjectivity. I'm a firm believer in people liking whatever they want, no matter how 
    a(href='http://blip.tv/your-geek-news/transformers-2-review-it-was-good-unexpected-2307985') depressingly appalling
    |  I think their opinions are. I mean, 
    em Stargate
    |  is one of my favorite films. I can't throw too many prosaic tomatoes back. My only criteria for liking something is that you have a good argument for liking it. I love 
    em Stargate
    |  for its gorgeous cinematography - which still holds up nigh-on twenty years later - and for that fully-realized culture inside Ra's ship, not to mention its sneakily-erudite nods to linguistic theory. I saw that film in theaters when I was barely old enough to remember my parents' faces, and to this day I can remember Kurt Russell being thrown into the water-prison (which always struck me as an effective way to imprison someone), or those hang-gliders flying out of Ra's ship, or that beautiful wide-angle shot of the execution scene. The story was flawed-as-hell, sure - archetypes ahoy! - and I never got the sense that it was reaching for anything (especially not when almost the entirety of the Special Forces team that gets sent through is wiped out, but the final shot is of the two remaining non-Kurt Russell Special Forces dudes laughing it up, arms over each others' shoulders as they almost-skip through the Stargate). But it definitely made me feel like I was in another world, and it made me be invested in that world.
  p
    | "Hangover II", though, is just a poorly-plotted, painfully-stupid movie. I already mentioned the racism and homophobia. How about the story? Raymond Chandler had a saying: "When in doubt, have a man come through a door with a gun in his hand." Raymond Chandler, deity that he was, was not a man known for good plotting (B-plot? In a Chandler novel?) - so when the movie follows 
    a(href='http://tvtropes.org/pmwiki/pmwiki.php/Main/ptitlepblp18h5') Chandler's Law
    |  almost to the word - a man drives down the alley in a bike with a gun in his hand just in time to give the main characters a lead - I shake my head. And that conclusion, dear God-in-heaven. He was stuck in the elevator? Really?
  p
    | What's sickening is that they could have done everything the same up to that point, but simply by changing the ending into something creative they could have afforded themselves the opportunity to transcend the inanity of the past hour-and-a-half. You know, make everyone think it's that goddamn elevator, but we get there and nope, the character is gone. Take that wherever you want. Kill him and make it a dark comedy. Or don't, just play it straight. Or the three dudes in the Wolfpack get super-depressed and take LSD with Ken Jeong and the last part of the movie is a surrealist drug trip. God damn it if that wouldn't make the movie interesting. It would goddamn recontextualize and redefine the preceding 90 minutes. It would goddamn 
    em do something
    | .
  p But no. Instead we got the goddamn elevator. Goddammit I hate myself.
