.column
  p.nav-links
    a(ui-sref="poetry") Poetry
    a(ui-sref="essaylist") Essays
    a(ui-sref="reviewlist") Reviews
    a(ui-sref="trackback") Trackback
    a(ui-sref="large-round-eyes") Large Round Eyes
    a(ui-sref="extras") Extras