.content-image
  img(src='images/cf-sidebar-essays.png', width='100%')
.content
  ul.padding
    li
      a(ui-sref="essayName({essay: 'tree-of-life' })") We are all branches on the tree of life: an essay exploring meaning in 'The Tree of Life'
    li
      a(ui-sref="essayName({essay: 'internet-poetry' })") A minor and insignificant treatise on Internet Poetry, and the disparity between presence and person therein.
    li
      a(ui-sref="essayName({essay: 'taste-and-subjectivity' })") Taste and subjectivity, as framed by 'The Hangover: Part II'
    li
      a(ui-sref="essayName({essay: 'lana-del-rey' })") Feminism, Image Obsession and Lana Del Rey, 'Born to Die'.
    li
      a(ui-sref="essayName({essay: 'max-payne-3' })") Max Payne 3, neo-noir, style and difficulty
    li
      a(ui-sref="essayName({essay: 'thoughts-on-quickshit' })") Thoughts on Walter Mackey and Quickshit