doctype html
html
  head(lang='en')
    base(href='/')
    
    link(rel="icon" type="image/ico" href='favicon.ico')
    link(href='src/css/style.css', rel='stylesheet', type='text/css')
    link(href='http://www.completelyfictional.com', rel='canonical', type='text/css')
    
    title Completely Fictional
  
  body(ng-app='completely-fictional', ng-controller='ndxCtrl as ndx')
    
    .container
      cf-header
      cf-column
      
      div(ui-view)
    
      cf-footer
    
    script(src='system.js')
    script(src='config.js')
    script(src='dist/js/bundle.js')
    script. 
      System.import('dist/js/app.js')
      