.content-image
  img(src='images/reviews/cf-sidebar-reviews.jpg', width='100%')

.content
  ul.padding
    li
      a(ui-sref="review({ name: 'agora-by-derek-piotr' })") 'AGORA' by Derek Piotr
    li
      a(ui-sref="review({ name: 'lightning-lightening-by-katey-metcalf' })") 'lightning/lightening' by Katey Metcalf
    li
      a(ui-sref="review({ name: 'a-million-bears-by-spencer-madsen' })") 'a million bears' by Spencer Madsen
    li
      a(ui-sref="review({ name: 'fairfaxe-by-tristan-newcomb' })") 'Fairfaxe' by Tristan Newcomb
    li
      a(ui-sref="review({ name: 'oiplf-by-tristan-newcomb' })") 'Only Interstellar Pinball Lives Forever' by Tristan Newcomb
    li
      a(ui-sref="review({ name: 'sotcts-by-tristan-newcomb' })") 'Summer of the Chew Toy Soul' by Tristan Newcomb
    li
      a(ui-sref="review({ name: 'lifted-by-bright-eyes' })") 'Lifted or The Story is in the Soil, Keep Your Ear to the Ground' by Bright Eyes
    li
      a(ui-sref="review({ name: 'limitless' })") ‘Limitless’, dir. by Neil Burger
    li
      a(ui-sref="review({ name: 'rango' })") 'Rango', dir. by Gore Verbinski
