.content-image
  img(style='margin-bottom:1em;', src='images/trackback-cover.jpg', width='100%')
  p.side(style='margin-top:-0.5em;')
    em fiction novel, 2011
  p.side(style='margin-top:-0.5em;')
    a.gumroad-button(href='http://gum.co/SPYX') buy it
    script(type='text/javascript', src='https://gumroad.com/js/gumroad.js')
.content
  iframe(width='640', height='360', src='http://www.youtube.com/embed/qZ6528w7xA8', frameborder='0', allowfullscreen='')
  h3(style='margin-top:1em;')
    em "Trackback depicts life with a rare honesty."
    |  — 
    a(href='http://beachsloth.blogspot.com/2011/12/trackback-by-zack-shuster.html') Beach Sloth
  p(style='padding:1em 0 1em 0;')
    a(href='http://www.completelyfictional.com/trackback/track-01-snapshot.html') Read the first chapter for free
  blockquote
    | Life’s stories are like tracks on an album of music. Some are short, others are long; most are only vaguely related, but are most definitely related; many things make them unique, but I guarantee that someone you’ll never meet is still out there somewhere singing a similar song.
  p
    | Pain brings out the comfortable in us all. You get hurt, so you do That One Thing, and hopefully it makes you feel better. Maybe it's something as simple as getting really, really drunk. Maybe it's as involved as carefully writing out an angry letter that, even as you spellcheck it, you know you'll never have the courage to send. Or maybe it's as spontaneously cathartic as bashing your hand into a guitar as you scream out your spite for all four walls of your room to hear. No matter what it is, the patterns are there.
  p They don't always work.
  p
    | 'Trackback' is one man's way of coping with his mistakes and regrets: A sorrow-tinged recollection of every major moment — mostly losses, but occasionally a triumph — that pulls double-duty as both his search to understand what went wrong and his mechanism for finally letting it all go.
