template
  require(from='column.html')
  require(from='footer-index')
  .container
    .header
      a.image(href='')
        img(src='images/cf-header.jpg', title='', alt='cf-header', width='100%')
      
    column(router.bind='router')
    
    router-view
  
    footer-index