template
	.footer-index
		p
			a(href='go-away/please') &copy; 
			| 2010 - ${currentYear} &mdash;  
			a(href='') Zack Schuster 
			a(rel='license', href='http://creativecommons.org/licenses/by-nc/3.0/us/') All content licensed under CC BY-NC 3.0
		.socialmedia(style='margin-bottom:5em')
			a.smimg(repeat.for='item of footerLinks' href='${item.url}') 
				img(src='images/social-media/${item.img}', alt='${item.alt}', width='10%')