template
	.content-image
		a.image(href='http://www.flickr.com/photos/sarako/2525878622/')
			img(src="images/cf-sidebar.jpg" alt="" width="100%")
	.content
		h2 The personal space of writer Zack Schuster. Everything here is false.
		p (not really)